<div class="container">
  <div *ngFor="let brd of snowboards" class="row">
    <div class="col-sm">
      {{brd.type}}
    </div>
    <div class="col-sm">
      <div style="width: 20px; height: 20px;" [ngStyle]="{background: brd.color}"></div>
      {{brd.color}}
    </div>
    <div class="col-sm">
      {{brd.firmName}}
    </div>
  </div>
  <button type="button"  [routerLink]="['/create']" class="btn btn-default">Create</button>
</div>
