<form [formGroup]="form" (ngSubmit)="onSubmit()" class="text-center border border-light p-5">
  <p>
    Form Value: {{ form.value | json }}
</p>
  <p class="h4 mb-4">Create new snowboard</p>

  <!-- Type -->
  <div *ngIf="type.invalid && (type.touched || isSubmited)"
    class="alert alert-danger">
   <div *ngIf="type.errors.required">
    Type is required.
   </div>
  </div>
  <input formControlName="type" type="text" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Type">

  <!-- Color -->
    <div *ngIf="color.invalid && (color.touched || isSubmited)"
      class="alert alert-danger">
    <div *ngIf="color.errors?.required">
      Color is required.
    </div>
    <div *ngIf="color.errors?.pattern">
      Color must be in #F08080 format
    </div>
    </div>
    <input formControlName="color" type="text" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Color">

  <!-- Firm -->
  <div *ngIf="firmId.invalid && (firmId.touched || isSubmited)"
    class="alert alert-danger">
   <div *ngIf="firmId.errors?.required">
    Type is required.
   </div>
  </div>
  <ngx-select-dropdown (change)="selectionChanged($event)"  formControlName="firmId" [multiple]="false" [options]="dropdownItems"></ngx-select-dropdown>

  <!-- Submit button -->
  <button class="btn btn-info btn-block my-4" type="submit">Submit</button>

  <a type="button" class="light-blue-text mx-2">
      <i class="fab fa-facebook-f"></i>
  </a>
  <a type="button" class="light-blue-text mx-2">
      <i class="fab fa-twitter"></i>
  </a>
  <a type="button" class="light-blue-text mx-2">
      <i class="fab fa-linkedin-in"></i>
  </a>
  <a type="button" class="light-blue-text mx-2">
      <i class="fab fa-github"></i>
  </a>

</form>